table {
  width: 100%;
}

.checkbox-lg .form-check-input {
  top: .8rem;
  scale: 1.4;
  margin-right: 0.7rem;
}

.checkbox-lg .form-check-label {
  padding-top: 13px;
}

.checkbox-xl .form-check-input {
  top: 1.2rem;
  scale: 1.7;
  margin-right: 0.8rem;
}

.checkbox-xl .form-check-label {
  padding-top: 19px;
}

::ng-deep.mat-tab-label,
::ng-deep.mat-tab-label-active {
  width: 50%;
}

th {
  background-color: #ffc519;
  color: black;
  font-weight: bold;
}

::ng-deep .custom-class {
  color: black;
}