<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>List of Experiment</h1>
      <br>
      <div>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target)" placeholder="Search">
        </mat-form-field>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name </th>
          <td mat-cell style="cursor: pointer;" [routerLink]="['/experiment', element._id]" *matCellDef="let element">
            {{element.experiment_name}}
          </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef class="center" sortActionDescription="Sort by country">Country</th>
          <td mat-cell *matCellDef="let element" class="center"> {{element.country}} </td>
        </ng-container>

        <ng-container matColumnDef="client">
          <th mat-header-cell *matHeaderCellDef class="center">Client</th>
          <td mat-cell *matCellDef="let element" class="center"> {{element.client}} </td>
        </ng-container>

        <ng-container matColumnDef="incubator">
          <th mat-header-cell *matHeaderCellDef class="center">Incubator </th>
          <td mat-cell *matCellDef="let element" class="center"> {{element.incubator}} </td>
        </ng-container>

        <ng-container matColumnDef="eggs">
          <th mat-header-cell *matHeaderCellDef class="center"> Eggs </th>
          <td mat-cell *matCellDef="let element" class="center"> {{element.eggs}} </td>
        </ng-container>

        <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef class="center"> Created Date</th>
          <td mat-cell *matCellDef="let element" class="center"> {{element.created_date | date: 'dd/MM/yyyy' }} </td>
        </ng-container>

        <ng-container matColumnDef="experiment_start_date">
          <th mat-header-cell *matHeaderCellDef class="center"> Experiment Start Date </th>
          <td mat-cell *matCellDef="let element" class="center"> {{element.experiment_start_date | date: 'dd/MM/yyyy'}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['/experiment', row._id]"
          class="exptable"></tr>
      </table>
      <div class="col">
        <mat-paginator style="background-color: #fafafa;" #paginator [pageSizeOptions]="[10,20,30]"
          (page)="pageChange($event)" showFirstLastButtons>
        </mat-paginator>
      </div>
      <br>
      <button style="width: 100%;" class="btn btn-primary" (click)="openNewExperimentDialog()">Create New
        Experiment</button>
    </div>
  </div>
</div>